[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/Shiduo-zh/openpi.git
[submodule "src/rrt-algorithms"]
	path = src/rrt-algorithms
	url = git@github.com:kaikai-2022/EmbodiedBench.git
	branch = dev
